body {
  padding-left: 20%;
  padding-right: 20%;
  background-image: url("/images/catbackground.jpg");
}
#form {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 33px;
  background-color: rgba(255, 195, 179, 0.95);
  text-align: center;
}
input {
  font-family: 'Just Me Again Down Here', cursive;
  text-align: center;
  padding: 0px;

}
input[type=text] {
  width: 20%;
}
input[type=list] {
  width: 20%; 

}

label {
  text-align: center;
}
div#petfinderInfo {
  background-color: rgba(217, 217, 217, 0.95);
}
